<section class="container d-flex flex-column align-items-center mb-3">
    <div class="header d-flex align-items-center justify-content-between w-100">
        <div class="d-flex">
            @if (tarefa.estaConcluida) {
                <img src="assets/checked.png" class="bolinha-concluida" (click)="tarefa.desconcluir()">
            } @else {
                <img src="assets/not-checked.png" class="bolinha-nao-concluida" (click)="tarefa.concluir()">
            }
            
            @if (!tarefa.estaEditavel) {
                <h2>{{tarefa.titulo}}</h2>
            } @else {
                <input type="text" [(ngModel)]="tarefa.tituloEditado" class="titulo-editavel">
            }
        </div>
        @if (tarefa.estaOculta) {
            <img src="assets/seta2.png" class="seta-ocultar" (click)="tarefa.desocultar()">
        } @else {
            <img src="assets/seta.png" class="seta-exibir" (click)="tarefa.ocultar()">
        }
    </div>

    @if (!tarefa.estaOculta) {
        <div class="main">
            <h3>Descrição</h3>
            @if (!tarefa.estaEditavel) {
                <p>{{tarefa.descricao}}</p>
            } @else {
                <textarea [(ngModel)]="tarefa.descricaoEditada" class="descricao-editavel"></textarea>
            }
        </div>
        
        <div class="footer d-flex justify-content-end w-100">
            @if (tarefa.estaEditavel) {
                <img src="assets/v-circle.png" class="v-circle" (click)="editarTarefa()">
                <img src="assets/x-circle.png" class="x-circle" (click)="tarefa.cancelarEdicao()">
            } @else {
                <img src="assets/alterar.png" class="editar" (click)="tarefa.habilitarEdicao()">
                <img src="assets/lixeira.png" class="lixeira">
            }
        </div>
    }
</section>